body {
	font-family: sans-serif;
}

#top-header {
	height: 50px;
	background: #67b7e1;
	margin: 0px auto;
	width: 1235px;
    margin-top: -8px;
}

#header-icon, #header-content {
	max-width: 1200px;
	min-width: 960px;
    margin: 0 auto;
}

#header-icon {
    overflow: hidden;
    height: 37px;
    padding-left: 50px;
    width: 940px;
}

#header-icon span {
	border-right: 1px solid #ffffff;
	margin-right: 3px;
}

#top-header a:hover {
	text-decoration: underline;
}

#social a:hover {
	color: #67b7e1;
}

#header-icon a {
	color: #ffffff;
	line-height: 2;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1,5;
}

#link {
	float: left;
	margin-top: 8px;
}

#social ul li {
	list-style-type: none;
	float: left;
	margin-right: 23px;
	
}

#social {
	float: right;
	margin-top: -3px;
	margin-right: -23px;
}

#social ul {
	margin-top: 17px;
}

#social ul li {
	text-decoration: none;
}

#header {
	height: 95px;
	background: #ffffff;
}

#header-content ul li {
    float: left;
    text-transform: uppercase;
    list-style-type: none;
    margin: 33px 33px 0 0px;
    font-weight: bold;
    font-family: sans-serif;
}

#header-content, #wrapper {
	overflow: hidden;
}

#header-content a {
	color: #333333;
	text-decoration: none;
}

#header-content a:hover {
	color: #67bfec;
}

.logo {
	float: left;
	margin-top: 15px;
	margin-left: 141px;

}

.clear {
	clear: both;
}

.lists ul li:first-child {
	color: #67bfec;
}

.lists ul {
	margin-right: 10px; 

}

.lists {
	margin-left: 284px;
}

#wrapper {
	height: 514px;
	width: 1235px;
	margin: 0 auto;
	
}

#foto {
	height: 603px;
	width: 630px;
	margin-top: 13px;
	float: left;
}

.wrapper {
	margin: 0 auto;
	overflow: hidden;
}

#field-area {
	float: right;
	width: 562px;
	height: 498px;
	margin-top: 19px;
	background: url(img/man.png) no-repeat 10px 10px;
}

#field-area ul  {
	list-style-type: none;
	margin-top: 257px;
	padding-left: 0;
	padding-right: 201px;
	margin-left: 72px;
}

#field-area ul li {
	margin-top: 22px;

	
}

#field-area input {
	color: #717171;
	padding: 7px 80px 9px 18px;
	font-size: 16px;
}
#content {
	background: #67b7e1;
	height: 734px;
	padding-top: 0;
	width: 1235px;
	margin: 0 auto;
}

#bg {
	height: 45px;
	background: url(img/content-bg.png) no-repeat 890px 0;
	padding-top: 1px;
}

#btn {
	margin-left: 82px;
	width: 249px;
	height: 50px;
	background: url(img/btn.png) no-repeat;
    margin-bottom: 13px;
}
#btn input {
	background: none;
	border: none;
	color: #ffffff;
	padding-top: 15px;
	padding-left: 38px;
	padding-right: 0;
}

.article {
	width: 975px;
	height: 130px;
	float: right;
	margin-right: 60px;
	color: #ffffff;
	margin-bottom: 30px;
}

.content-logo {
	width: 120px;
	height: 140px;
	float: left;
	padding-top: 5px;
	
}

.content-text h2 {
    overflow: hidden;
	text-transform: uppercase;
	padding-left: 91px;
}

.content-text p {
	padding-left: 210px;
	font-size: 17px;
}

.footer {
	background: #363839;
	margin: 0 auto;
	color: #7c7977;
	margin-top: -6px;
	overflow: hidden;
	width: 1235px;
}

.footer h3 {
	color: #dddddd;
	text-transform: uppercase;
	font-size: 15px;
}

.footer a {
	color: #b3bfbf;
	text-decoration: none;
}

.footer a:hover {
    color: #67b7e1;
} 

.footer ul li {
	list-style-type: none;
}

.footer-content {
	height: 473px;
}

.address {
	width: 177px;
    margin-left: 149px;
    margin-right: 62px;
}

.address h3 {
	margin-left: 40px;
}

.address ul {
	margin-top: 28px;
}

.location {
	width: 223px;
	height: 223px;
	margin-top: 19px;
}

.location p {
	font-style: italic;
}

.location h3 {
	margin-top: 0;
}

.location img {
	margin-top: 17px;
}

.posts {
	width: 285px;
	padding-left: 0;
	margin-right: 26px;
}

.posts ul li {
	border-bottom: 1px solid #505152;
	padding-bottom: 15px;
	padding-top: 15px;
}

.posts h3 {
	margin-left: 39px;
}

.address, .location, .posts {
	float: left;
}

.tweets {
	float: right;
	width: 290px;
}

.tweets ul li {
	background: url(img/footer-icon.png) no-repeat 0 5px;
}

.tweets-column {
	width: 260px;
	margin-left: -34px;
}

.tweets ul {
	margin-top: 18px;
}

.tweets li {
	margin-top: 10px;
	padding-left: 40px;
}

.tweets h3 {
	margin-left: 41px;
}

.footer-bottom {
	border-top: 1px solid #505152;
	height: 70px;
	background: #282a2b;
}

.footer-social ul li {
	float: left;
	padding-right: 22px;
}

.footer-social {
	float: right;
}

.copyright {
	float: left;
}

.footer-content2 {
	width: 1020px;
	margin: 0 auto;
	padding-left: 152px;
}

.footer-content2 ul a:hover {
    text-decoration: underline;
}

.copyright span {
	border-right: 2px solid #505152;
	border-left: 2px solid #505152;
}
